@font-face {
  font-family: puffy;
  src: url("../fonts/Puffy.otf");
}

body {
  background-color: rgba(140, 75, 43, 0.898);
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(253, 235, 37);
  .title {
    font-size: 46px;
    letter-spacing: 2px;
  }
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: beige;
    padding: 20px 40px;
  }
}
