.menu-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-evenly;
  .coins-container {
    display: flex;
    align-items: center;
    gap: 10px;
    .coin-img {
      height: 25px;
      width: 25px;
    }
    p {
      color: black;
    }
  }
  .spin-button {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    background: rgb(37, 162, 58);
    padding: 20px;
    border-radius: 20%;
    box-shadow: 0 9px grey;
  }
  .spin-button:active {
    background: rgb(248, 50, 50);
    box-shadow: 0 5px darkgrey;
    transform: translateY(4px);
  }
}
