.rules-container {
  background: black;
  color: beige;
  font-family: pixel;
  gap: 40px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 46px;
    margin: 0;
  }
  .close-rules-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    .close-button {
      cursor: pointer;
      animation: blink 2s steps(5, start) infinite;
      padding: 10px;
    }
    .close-button:hover {
      color: black;
      background: beige;
      animation-play-state: paused;
    }
    p {
      margin: 0;
    }
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
