.slots-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  gap: 10px;
  .fruit-holder {
    height: 80px;
    width: 80px;
    background: rgb(214, 241, 255);
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fruit {
      height: 50px;
      width: 50px;
    }
  }
}
